.DS_Store
*.swp
*/node_modules/
*/yarn-error.log
app_engine/pkg
app_engine/src/*
app_engine/src/teraconnect-authoring/static/teraconnect
!app_engine/src/teraconnect-api
!app_engine/src/teraconnect-authoring
!app_engine/src/lessonType
