.DS_Store
*.swp
*/node_modules/
*/yarn-error.log
app_engine/pkg
app_engine/src/*
app_engine/src/teraconnect-authoring/static/teraconnect
!app_engine/src/cloudHelper
!app_engine/src/graphic
!app_engine/src/storageObject
!app_engine/src/teraconnect-api
!app_engine/src/teraconnect-authoring
!app_engine/src/lesson
!app_engine/src/lessonMaterial
!app_engine/src/lessonPack
!app_engine/src/lessonType
!app_engine/src/lessonVoiceText
!app_engine/src/rawVoiceSigning
